/*
* @Author: Administrator
* @Date:   2017-09-30 08:33:24
* @Last Modified by:   Administrator
* @Last Modified time: 2017-09-30 08:35:50
*/
.banner{
	width: 100%;
	height: 480px;
	position: relative;
	overflow: hidden;
}
.banner .title{
    width: 1000px;
	height: 110px;
    position: absolute;
    left: 0;right: 0;top: 0;bottom: 0;
    margin: auto;
    z-index: 99999;
    color: #fff;
}
.banner .title .left{
    width: 450px;
   	height: 60px;
    box-sizing: border-box;
    border-right: 2px solid #fff;
    padding-right: 20px;
    float: left;
}
.banner .title .left p{
    font-weight: bold;
    font-size: 28px;
}
.banner .title .left img{
    width: 65px;
    height: 65px;
    margin-top: -30px;
    padding: 0 10px;

}
.banner .title .left h6{
    text-align: right;
    font-size: 18px;
    font-weight: normal;
}
.banner .title .right{
    height: 100%;
    width: 500px;
    margin-left: 20px;
    float: left;
    color: #fff;
}
.banner .title .right p:first-of-type{
	font-size: 16px;
	margin-bottom: 10px;
}
.banner .title .right p:nth-of-type(2){
	font-size: 12px;
}
.banner .box{
	width: 300%;
	height: 100%;
}
.banner .box .meige{
	width: 33.33334%;
	height: 100%;
	float: left;
}
.banner .anniubox{
	height: 10px;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	bottom: 77px;
	display: flex;
	justify-content: center;
}
.banner .anniubox li{
	cursor: pointer;
	width: 10px;
	height: 10px;
	margin: 0 3px;
	border-radius: 5px;
	background: #fff;
	opacity: 0.2;
	/* transition: all .2s linear; */
}
.pin{
	padding: 130px 0 200px 0;
	overflow: hidden;
}
.pinpai{
	width: 1200px;
	height: 574px;
	margin: 0 auto;
	text-align: center;
}
.pinpai .title{
	display: inline-block;
    margin-bottom: 52px; 
    position: relative;
    text-align: left;
}
.pinpai .title p{
    margin: 0 auto;
    line-height: 24px;
    color: #333;
    font-size: 12px;
    font-weight: bold;
	border-bottom: 1px dashed #b3b3b3;
}
.pinpai .title p span{
	font-weight: normal;
}
.pinpai .title h3{
    font-size: 22px;
    line-height: 42px;
    font-weight: normal;
    color: #333;
    letter-spacing: 22px;
    position: relative;
    border-bottom: 1px dashed #000;
}
.pinpai .title h3 .xian{
	width: 17px;
	height: 4px;
	background: #000;
	position: absolute;
	left: 0;
	bottom: -2px;
}
.pinpai ul{
	width: 1200px;
	overflow: hidden;
}
.pinpai ul li{
    width: 287px;
    height: 456px;
    box-sizing: border-box;
    margin-right: 17px;
    float: left;
    overflow: hidden;
    position: relative;
}
.pinpai ul li:last-of-type{
	margin-right: 0;
}
.pinpai ul li:nth-of-type(3){
	margin-right: 18px;
}
.pinpai ul li a{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 569px;
	background: #f4f4f4;
	transition: all .5s linear;
	color: #666;
	text-align: center;
}
.pinpai ul li a:hover{
	transform: translateY(-112px);
	background: #fff43c;
	color: #333;
}
.pinpai ul li a img{
	width: 100%;
	height: 313px;
}
.pinpai ul li a h4{
	font-size: 40px;
}
.pinpai ul li a h5{
	font-size: 18px;
	margin-bottom: 2px;
}
.pinpai ul li a p{
	font-size: 14px;
	padding: 0 35px;
	margin-bottom: 48px;
}
.pinpai ul li a .jia{
	display: inline-block;
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	border: 2px solid #333;
	border-radius: 50%;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	line-height: 38px;
}
.shi{
    padding-bottom: 460px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.shi .shiji{
	width: 100%;
    height: 590px;
    background: url(../img/banner3.png) no-repeat center center;
    background-size: cover;
    overflow: hidden;
    text-align: center;
}
.shi .shiji .title{
	margin-top: 300px;
	display: inline-block;

}
.shi .shiji .title p{
	font-size: 36px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}
.shi .shiji .title p img{
	width: 35px;
	height: 35px;
}
.shi .shiji .title p span{
	font-size: 22px;
	font-weight: normal;
}
.shi .shiji .title h6{
	font-size: 12px;
	color: #fff;
}
.shi .shix{
    width: 100%;
    height: 660px;
    position: absolute;
    bottom: 0;
    left: 0;
   
}
.shi .shix main{
    width: 928px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    position: relative; 
}
.shi .shix main .box{
	width: 200%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.shi .shix main .box ul{
	width: 100%;
	height: 100%;
	position: relative;
	float: left;
}
.shi .shix main .box ul li{
	width: 248px;
	height: 468px;
	position: relative;
	float: left;
	margin-right: 92px;
}
.shi .shix main .box ul li a{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
    box-shadow: -10px -10px 50px 4px #666;
    transition: all .5s linear;
}
.shi .shix main .box ul li a .shang{
    width: 100%;
    height: 246px;
    background: #FF3895;
    color: #fff;
    box-sizing: border-box;
    padding: 0 20px;
    overflow: hidden;
    position: relative;
}
.shi .shix main .box ul li a .shang h4{
    margin-top: 50px;
    font-size: 18px;
    line-height: 36px;
}
.shi .shix main .box ul li a .shang p{
    font-size: 12px;
    line-height: 24px;
    text-align: center;
}
.shi .shix main .box ul li a .shang span{
	position: absolute;
    text-align: right;
    font-size: 12px;
    bottom: 14px;
    right: 20px;
}
.shi .shix main .box ul li a .xia{
	width: 100%;
	height: 222px;
	text-align: center;
	overflow: hidden;
	background: #fff;
}
.shi .shix main .box ul li a .xia img{
	width: 158px;
	height: 115px;
	margin-top: 50px;
}
.shi .shix main .box ul li a:hover{
	transform: translateY(-30px);
}
.shi .shix main .box ul li a .cha{
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 0 0 10px 10px;
    background: #FFF33B;
}
.shi .shix main .anniubox{
	position: absolute;
	height: 10px;
    bottom: 0;
    left: 50%;
    display: flex;
    justify-content: center;

}
.shi .shix main .anniubox .anniu{
	width: 10px;
	height: 10px;
	background: #FFF33B;
	margin: 0 5px;
	border-radius: 5px;
	cursor: pointer;
	transition: all .3s linear;
}
.shi .shix h6{
    text-transform: uppercase;
    font-weight: normal;
    color: #999;
    margin-top: 30px;
    padding: 0 500px;
    font-size: 12px;
    text-align: center;
}
.huo{
    width: 100%;
    padding-top: 493px;
    overflow: hidden;
}
.huo main{
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    position: relative;
}
.huo main:before{
    content: '';
    display: block;
    height: 444px;
    width: 5000px;
    position: absolute;
    right: 0;
    top: -150px;
    background: #FF3895;
    z-index: 1;
}
.huo main .huo1{
	position: absolute;
	width: 572px;
	height: 604px;
	top: -310px;
	left: 0px;
	z-index: 2;
}
.huo main .left{
    width: 728px;
    height: 100%;
    float: left;
    position: relative;
    z-index: 100;
}
.huo main .left div{
	width: 100%;
	height: 496px;
}
.huo main .left a{
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #333;
    background: #FFF33B;
    margin-left: 3px;
    transition: all .5s;
    margin-top: 30px;
    border-radius: 5px;
    font-size: 18px;
}
.huo main .left a:hover{
	background: #FF3895;
	color: #fff;
}
.huo main .right{
    width: 472px;
    height: 100%;
    float: left;
    position: relative;
    z-index: 100;
    top: 4px;
    background: #fff;
}
.huo main .right .title{
	padding: 0 100px 0 60px;
}
.huo main .right .title h4{
    font-size: 18px;
    color: #ff3795;
    margin-top: 30px;
    font-weight: normal;
}
.huo main .right .title h6{
    font-size: 36px;
    color: #ff3795;
    text-transform: uppercase;
    font-weight: normal;
}
.huo main .right .title p{
	font-size: 12px;
	overflow: hidden;
	color: #333;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
    margin-top: 24px;
    line-height: 24px;
    letter-spacing: 1px;
}
.huo main .right .huo2{
	width: 100%;
	height: 316px;
	position: absolute;
	left: 0;
	bottom: 0;
}
.huo main:after{
    content: '';
    display: block;
    height: 176px;
    width: 1000px;
    position: absolute;
    left: 100%;
    top: 210px;
    background: #FF3895;
    z-index: 1;
}
.meng{
	padding-top: 200px;
	overflow: hidden;
}
.meng main{
	width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.meng main .title{
	display: inline-block;
    margin-bottom: 52px; 
    position: relative;
    text-align: left;
}
.meng main .title p{
    margin: 0 auto;
    line-height: 24px;
    color: #333;
    font-size: 12px;
    font-weight: bold;
	border-bottom: 1px dashed #b3b3b3;
}
.meng main .title p span{
	font-weight: normal;
}
.meng main .title h3{
    font-size: 22px;
    line-height: 42px;
    font-weight: normal;
    color: #333;
    letter-spacing: 22px;
    position: relative;
    border-bottom: 1px dashed #000;
}
.meng main .title h3 .xian{
	width: 17px;
	height: 4px;
	background: #000;
	position: absolute;
	left: 0;
	bottom: -2px;
}
.meng main .anli{
    height: 668px;
    padding: 0 0 60px 0;
    position: relative;
}
.meng main .anli .meige{
	width: 100%;
	height: 668px;
	background: #fff;
	position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    box-shadow: 0 0 20px 10px #eee;
    transition: all .5s linear;
}
.meng main .anli .meige .left{
	float: left;
	width: 500px;
	height: 667px;
	background: url(../img/anli-1.png) no-repeat center center;
	background-size: cover;
}
.meng main .anli .meige .right{
	width: 660px;
	height: 100%;
	float: right;
	padding-right: 75px;
	box-sizing: border-box;
	text-align: left;
}
.meng main .anli .meige .right .top{
	padding-top: 124px;
	border-bottom: 2px dashed #d1d1d1;
	position: relative;
}
.meng main .anli .meige .right .top h4{
	font-size: 24px;
	color: #333;
	font-weight: normal;
	margin-bottom: 30px;
    text-indent: -10px;
}
.meng main .anli .meige .right .top h6{
	font-size: 14px;
	color: #999;
	font-weight: normal;
	margin-bottom: 60px;
}
.meng main .anli .meige .right .top:after{
	content: '';
    display: block;
    width: 28px;
    height: 8px;
    background: #FF3895;
    position: absolute;
    bottom: -4px;
    left: 0;
}
.meng main .anli .meige .right .bottom{
	position: relative;
	margin-bottom: 108px;
}
.meng main .anli .meige .right .bottom p{
	padding: 20px 55px 0 5px;
	font-size: 14px;
	color: #333;
}
.meng main .anli .meige .right .gengduo{
    float: right;
    margin-right: 55px;
    width: 150px;
    height: 40px;
    background: #FFF33B;
    color: #333;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    transition: all .5s linear;

}
.meng main .anli .meige .right .gengduo:hover{
	background: #FF3895;
	color: #fff;
}
.meng main .anli .anniubox{
	position: absolute;
	height: 10px;
    bottom: 0;
    left: 50%;
    display: flex;
    justify-content: center;

}
.meng main .anli .anniubox .anniu{
	width: 10px;
	height: 10px;
	background: #FFF33B;
	margin: 0 5px;
	border-radius: 5px;
	cursor: pointer;
	transition: all .3s linear;
}
.huan{
	padding-top: 222px;
	overflow: hidden;
}
.huan main{
	width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.huan main .title{
	display: inline-block;
    margin-bottom: 52px; 
    position: relative;
    text-align: left;
}
.huan main .title p{
    margin: 0 auto;
    line-height: 24px;
    color: #333;
    font-size: 12px;
    font-weight: bold;
	border-bottom: 1px dashed #b3b3b3;
}
.huan main .title p span{
	font-weight: normal;
}
.huan main .title h3{
    font-size: 22px;
    line-height: 42px;
    font-weight: normal;
    color: #333;
    letter-spacing: 22px;
    position: relative;
    border-bottom: 1px dashed #000;
}
.huan main .title h3 .xian{
	width: 17px;
	height: 4px;
	background: #000;
	position: absolute;
	left: 0;
	bottom: -2px;
}
.huan main .neirong{
    width: 100%;
    height: 440px;
}
.huan main .neirong .left{
    width: 520px;
    height: 100%;
    float: left;
    text-align: left;
}
.huan main .neirong .left .top{
    padding: 0 0 36px 0;
    border-bottom: 1px dashed #B2B2B2;
    position: relative;
}
.huan main .neirong .left .top h4{
	padding-top: 50px;
    text-transform: uppercase;
    font-size: 28px;
    color: #333;
}
.huan main .neirong .left .top h5{
	font-size: 18px;
    color: #333;
    font-weight: normal;
}
.huan main .neirong .left .top:after{
	content: '';
    display: block;
    width: 28px;
    height: 8px;
    background: #FF3895;
    position: absolute;
    bottom: -4px;
    left: 0;
}
.huan main .neirong .left .bottom{
	padding-top: 60px;
	margin-bottom: 28px;
}
.huan main .neirong .left .bottom h6{
	padding-right: 40px;
	font-size: 14px;
	color: #333;
	font-weight: normal;
	margin-bottom: 40px;
}
.huan main .neirong .left .bottom p{
	font-size: 14px;
	color: #999;
	font-weight: normal;
}
.huan main .neirong .left .gengduo{
    float: left;
    width: 150px;
    height: 40px;
    background: #FFF33B;
    color: #333;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    transition: all .5s linear;
}
.huan main .neirong .left .gengduo:hover{
	background: #FF3895;
	color: #fff;
}
.huan main .neirong .right{
    width: 590px;
    height: 100%;
    float: right;
    position: relative;
}
.huan main .neirong .right:after{
    content: '';
    display: block;
    border: 15px solid #96DDF3;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    top: 86px;
    left: -30px;
}
.huan main .neirong .right .tu{
    width: 590px;
    height: 390px;
    position: relative;
}
.huan main .neirong .right .tu li{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.huan main .neirong .right .tu .active{
	opacity: 1;
	z-index: 100;
}
.huan main .neirong .right .tu li a{
	display: block;
	width: 100%;
	height: 100%;
}
.huan main .neirong .right .dian{
	position: absolute;
	left: 50%;
	height: 8px;
	bottom: 10px;
}
.huan main .neirong .right .dian li{
	width: 8px;
	height:8px;
	box-sizing: border-box;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #C8C6C7;
    float: left;
    background: #C8C6C7;
}
.huan main .neirong .right .dian .active{
	background: #fff;
}
.huan main .neirong .right .zuoyou{
	position: absolute;
	left: 80%;
	width: 58px;
	height: 28px;
	bottom: 0;
}
.huan main .neirong .right .zuoyou .zuo{
	float: left;
	width: 28px;
	height: 100%;
	background: #434343;
	line-height: 28px;
	text-align: center;
	color: #fff;
	margin-right: 2px; 
	cursor: pointer;
}
.huan main .neirong .right .zuoyou .you{
	float: left;
	width: 28px;
	height: 100%;
	background: #434343;
	line-height: 28px;
	text-align: center;
	color: #fff;
	cursor: pointer;
}
.huan main .neirong .right .zuoyou .zuo:hover,.huan main .neirong .right .zuoyou .you:hover{
	background: #ff3795;
}
.zi{
	padding-top: 250px;
	padding-bottom: 80px;
	overflow: hidden;
}
.zi main{
	width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.zi main .title{
	display: inline-block;
    margin-bottom: 52px; 
    position: relative;
    text-align: left;
}
.zi main .title p{
    margin: 0 auto;
    line-height: 24px;
    color: #333;
    font-size: 12px;
    font-weight: bold;
	border-bottom: 1px dashed #b3b3b3;
}
.zi main .title p span{
	font-weight: normal;
}
.zi main .title h3{
    font-size: 22px;
    line-height: 42px;
    font-weight: normal;
    color: #333;
    letter-spacing: 22px;
    position: relative;
    border-bottom: 1px dashed #000;
}
.zi main .title h3 .xian{
	width: 17px;
	height: 4px;
	background: #000;
	position: absolute;
	left: 0;
	bottom: -2px;
}
.zi main ul{
	width: 100%;
	height: 508px;
}
.zi main ul li{
	width: 338px;
	height: 100%;
	margin-right: 93px;
	float: left;
	border: 1px solid #d2d2d2;
	box-sizing: border-box;
}
.zi main ul li:last-of-type{
	margin-right: 0;
}
.zi main ul li a{
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 350px 0 0 10px;
    text-align: left;
    color: #ff3795;
    position: relative;
	background: pink;
}
.zi main ul li a h4{
	font-size: 30px;
}
.zi main ul li a h5{
	font-size: 22px;
	font-weight: normal;
}
.zi main ul li a:after{
    content: '';
    display: block;
    background: #FFF33B;
    width: 266px;
    height: 10px;
    position: absolute;
    z-index: 1000;
    bottom: -10px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
}