.contect{
	width: 1200px;
	height: 160px;
	margin: 0 auto;
}
.tu{
	padding-left: 83px;
}
.content{
	width: 1200px;
	height: 525px;
	margin: 0 auto;
	text-align: center;
}
.content_b{
	padding-top: 60px;
	padding-bottom: 40px;
	font-size: 14px;
}
.map{
	width: 1200px;
	height: 517px;
	margin: 0 auto;
}
.map_a{
	width: 1004px;
	height: 517px;
	margin-top: 25px;
	margin: 0 auto;
}
.put{
	width: 1004px;
	height: 297px;
	margin: 0 auto;
	font-size: 12px;
}
input:focus{ 
	border-color:#E82281;
}
.put_1{
	width: 495px;
	height: 47px;
	border: 2px solid #FFC9E3;
	float: left;
	outline: #E82281;
}
.put_2{
	width: 495px;
	height: 47px;
	border: 2px solid #FFC9E3;
	float: right;
	outline: #E82281;
}

.put_3{
	width: 1000px;
	height: 143px;
	border: 2px solid #FFC9E3;
	margin-top: 25px;
	outline: #E82281;
}
.put_4{
	width: 1002px;
	height: 47px;
	border: 2px solid #FFC9E3;
	margin-top: 25px;
	line-height: 47px;
}
